<form method="post" class="booking_form">
    {% csrf_token %}
    <div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">
        <div class="booking_input_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
            <div><input  name="form_book_checkin" id="checkin"  type="date" class="Input_field  booking_input booking_input_a booking_out" placeholder="Check in"  required="required"></div>
            <div><input name="form_book_checkout" id="checkout" type="date" class="Input_field  booking_input booking_input_a booking_out" placeholder="Check out"  required="required"></div>
            <div>
                <select class="booking_input booking_input_b book_off" name="form_book_child" id="plan">
                    <option value="0" selected>Child</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
            </div>
            <div>
                <select class="booking_input booking_input_b book_off" name="form_book_adult" id="plan">
                    <option value="0" selected>Adult</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
            </div>
        </div>
        <div><button class="booking_button trans_200">Book Now</button></div>
    </div>
</form>