{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Booking</title>
	<link rel="icon" type="image/x-icon" href="{% static 'images/test/fav.png' %}">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="The River template project">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-4.1.2/bootstrap.min.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.3.4/owl.carousel.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.3.4/owl.theme.default.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.3.4/animate.css' %}">
	<link href="{% static 'plugins/jquery-datepicker/jquery-ui.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/booking.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/booking_responsive.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/dropdown.css' %}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/book_d_form.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/elements.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/elements_responsive.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/dropdown.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/gallery_res.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/book_d_form.css' %}">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		.Input_field {
			width: 90%;
			height: 80%;
			background-color: rgba(216, 206, 206, 0.5);
			border-color: rgba(216, 206, 206, 0.5);
		}

		.Input_field::selection {
			outline: none;
		}

		.Input_price {
			width: 90%;
			height: 180%;
			background-color: aliceblue;
			border: 1px solid aliceblue;
		}

		.book_button_booking {
			margin-left: 60%;
			border: 1px solid green;
			background-color: green;
			width: 80%;
			height: 170%;
			color: white;
			cursor: pointer;
		}

		.confirm_booking {
			border: 2px solid #003366;
			background-color: #003366;
			color: black;
		}

		.checkout_cnfrm_divs {
			margin-left: 22%;
		}

		.confrm_text {
			text-align: center;
			color: white;
		}

		input[type=text],
		input[type=email] {
			width: 50%;
			box-sizing: border-box;
			background-color: #003366;
			border: none;
			border-bottom: 2px solid white;
			color: white
		}


		@media(max-width:767px) {
			.Input_price {
				width: 60%;
				height: 140%;
			}

			.checkout_cnfrm_divs {
				margin-left: 15%;
			}

		}

		@media(max-width:500px) {

			.checkout_cnfrm_divs {
				margin-left: 0%;
			}

		}
	</style>
</head>

<body>
	<div class="super_container">

		<!-- Header -->

		{% include 'Ttrail/nav.html' %}
		<!-- Home -->

		<div class="home">
			<div class="owl-carousel owl-theme home_slider">
				<!-- Slide -->
				{% for i in Banner.Images %}
				<div class="slide">
					<div class="background_image" style="background-image:url({{i.Image}});"></div>
					<div class="home_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_content text-center">
										<div class="home_title">{{i.Heading}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}

			</div>
		</div>

		<!-- Booking -->
		<div class="cont">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

					<div>
						<div class="container">
							<form method="post">
								{% csrf_token %}
								<div class="row">
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
										<div class="row my-2">
											<div style="margin-left:5%;"
												class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

											</div>
										</div>
									</div>
								</div>
								<div class="row confirm_booking">
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
										<div class="row my-3">
											<div class="col-xl-6 col-lg-6 col-md-8 col-sm-8 col-12 checkout_cnfrm_divs">
												<p class="confrm_text"><strong
														style="float: left;margin-left: 22%;">NAME</strong><strong
														style="font-size: large;" id="price_static"><input id="in_name"
															type="text" required></strong></p>
												<input class="Input_price d-none" id="amount_payable" type="text"
													readonly>
											</div>
										</div>
									</div>
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
										<div class="row my-3">
											<div class="col-xl-6 col-lg-6 col-md-8 col-sm-8 col-12 checkout_cnfrm_divs">
												<p class="confrm_text"><strong
														style="float: left;margin-left: 22%;">PHONE</strong><strong
														style="font-size: large;" id="price_static"><input id="in_phone"
															type="text" required></strong></p>
												<input class="Input_price d-none" id="amount_payable" type="text"
													readonly>
											</div>
										</div>
									</div>
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
										<div class="row my-3">
											<div class="col-xl-6 col-lg-6 col-md-8 col-sm-8 col-12 checkout_cnfrm_divs">
												<p class="confrm_text"><strong
														style="float: left;margin-left: 22%;">EMAIL</strong><strong
														style="font-size: large;" id="price_static"><input id="in_email"
															type="email" required></strong></p>
												<input class="Input_price d-none" id="amount_payable" type="text"
													readonly>
											</div>
										</div>
									</div>
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
										<div class="row my-3">
											<div class="col-xl-6 col-lg-6 col-md-8 col-sm-8 col-12 checkout_cnfrm_divs">
												<p class="confrm_text"><strong
														style="float: left;margin-left: 22%;">ADULTS</strong><strong
														style="font-size: large;" id="price_static">{{ Adult }}</strong>
												</p>
												<input class="Input_price d-none" id="amount_payable" type="text"
													readonly>
											</div>
										</div>
									</div>
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
										<div class="row my-3">
											<div class="col-xl-6 col-lg-6 col-md-8 col-sm-8 col-12 checkout_cnfrm_divs">
												<p class="confrm_text"><strong
														style="float: left;margin-left: 22%;">KIDS</strong><strong
														style="font-size: large;" id="price_static">{{ Child }}</strong>
												</p>
												<input class="Input_price d-none" id="amount_payable" type="text"
													readonly>
											</div>
										</div>
									</div>
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
										<div class="row my-3">
											<div class="col-xl-6 col-lg-6 col-md-8 col-sm-8 col-12 checkout_cnfrm_divs">
												<p class="confrm_text"><strong
														style="float: left;margin-left: 22%;">Check-IN</strong><strong
														style="font-size: large;" id="price_static">{{ checkin
														}}</strong></p>
												<input class="Input_price d-none" id="amount_payable" type="text"
													readonly>
											</div>
										</div>
									</div>
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
										<div class="row my-3">
											<div class="col-xl-6 col-lg-6 col-md-8 col-sm-8 col-12 checkout_cnfrm_divs">
												<p class="confrm_text"><strong
														style="float: left;margin-left: 22%;">Check-OUT</strong><strong
														style="font-size: large;" id="price_static">{{ checkout
														}}</strong></p>
												<input class="Input_price d-none" id="amount_payable" type="text"
													readonly>
											</div>
										</div>
									</div>
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
										<div class="row my-3">
											<div class="col-xl-6 col-lg-6 col-md-8 col-sm-8 col-12 checkout_cnfrm_divs">
												<p class="confrm_text"><strong
														style="float: left;margin-left: 22%;">Room Type</strong><strong
														style="font-size: large;" id="price_static">{{ Type }}</strong>
												</p>
												<input class="Input_price d-none" id="amount_payable" type="text"
													readonly>
											</div>
										</div>
									</div>
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
										<div class="row my-3">
											<div class="col-xl-6 col-lg-6 col-md-8 col-sm-8 col-12 checkout_cnfrm_divs">
												<p class="confrm_text"><strong
														style="float: left;margin-left: 22%;">PRICE</strong>₹<strong
														style="font-size: xx-large;" id="price_static">{{ price
														}}</strong></p>
												<input class="Input_price d-none" id="amount_payable" type="text"
													readonly>
											</div>
										</div>
									</div>
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
										<div class="row my-3">
											<div style="margin-left:15%;"
												class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
												<button id="rzp-button1" class="book_button_booking"><strong>PAY
														NOW</strong></button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- Details Right -->

		<!-- Footer -->

		<footer class="footer">
			<div class="footer_content">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="footer_logo_container text-center">

								<div class="footer_logo">
									<a href="#"></a>
									<div>{{ Menu.Hotel_name }}</div>
									<div>{{Footer.Start_date}}</div>
								</div>

							</div>
						</div>
					</div>
					<div class="row footer_row">

						<!-- Address -->
						<div class="col-lg-3">
							<div class="footer_title">Our Address</div>
							<div class="footer_list">
								<ul>
									<li>{{Footer.City}}</li>
									<li>{{Footer.State}}</li>
								</ul>
							</div>
						</div>

						<!-- Reservations -->
						<div class="col-lg-3">
							<!-- <div class="footer_title">Reservations</div> -->
							<div class="footer_title">Contact Us</div>

							<div class="footer_list">
								<ul>
									<li><a href="Tel: {{Menu.Number}}">Tel: {{Menu.Number}}</a></li>
									<li><a href="Mailto:{{Footer.Email}}">{{Footer.Email}}</a></li>
									<div class="icons d-flex">
										<li><a href="{{Social_Links.Facebook}}" target="blank"><i
													class="fa-brands fa-facebook"
													style="color:#3b5998; margin: 5px;"></i></a></li>
										<li><a href="{{Social_Links.Instagram}}" target="blank"><i
													class="fa-brands fa-instagram"
													style="color:red; margin: 5px;"></i></a>
										</li>
										<li><a href="{{Social_Links.Twitter}}" target="blank"><i
													class="fa-brands fa-twitter"
													style="color:#1DA1F2; margin: 5px;"></i></a></li>
										<li><a href="{{Social_Links.Triveadvisor}}" target="blank"><i
													class="fa fa-tripadvisor" style="color:red; margin: 5px;"></i></a>
										</li>
										<li><a href="{{Social_Links.Linkedin}}" target="blank"><i
													class="fa-brands fa-linkedin-in"
													style="color:#0e76a8; margin: 5px;"></i></a></li>
									</div>
								</ul>
							</div>
						</div>

						<!-- Newsletter -->
						{%if Footer.Newsletter %}
						<div class="col-lg-3">
							<div class="footer_title">Newsletter</div>
							<div class="newsletter_container">
								<form action="#" class="newsletter_form" id="newsletter_form">
									<input type="email" class="newsletter_input" placeholder="Your email address"
										required="required">
									<button class="newsletter_button">Subscribe</button>
								</form>
							</div>
						</div>
						{%endif%}
						<!-- Footer images -->

						<div class="col-lg-3">
							<div
								class="certificates d-flex flex-row align-items-start justify-content-lg-between justify-content-start flex-lg-nowrap flex-wrap">
								<div class="cert"><img src="{{Footer.Logo}}" alt=""></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright">
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				Copyright &copy;
				<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made
				with
				<i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://www.fielmente.com/"
					target="_blank">Fielmente</a>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			</div>
		</footer>
	</div>

	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'styles/bootstrap-4.1.2/popper.js' %}"></script>
	<script src="{% static 'styles/bootstrap-4.1.2/bootstrap.min.js' %}"></script>
	<script src="{% static 'plugins/greensock/TweenMax.min.js' %}"></script>
	<script src="{% static 'plugins/greensock/TimelineMax.min.js' %}"></script>
	<script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
	<script src="{% static 'plugins/greensock/animation.gsap.min.js' %}"></script>
	<script src="{% static 'plugins/greensock/ScrollToPlugin.min.js' %}"></script>
	<script src="{% static 'plugins/OwlCarousel2-2.3.4/owl.carousel.js' %}"></script>
	<script src="{% static 'plugins/easing/easing.js' %}"></script>
	<script src="{% static 'plugins/progressbar/progressbar.min.js' %}"></script>
	<script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
	<script src="{% static 'plugins/jquery-datepicker/jquery-ui.js' %}"></script>
	<script src="{% static 'js/booking.js' %}"></script>
	<script src="{% static 'js/booking_engine.js' %}"></script>
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	<script>
		var options = {
			"key": "rzp_test_UZ0V9jh3jMC0C9", // Enter the Key ID generated from the Dashboard
			"amount": "{{ payment.amount }}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
			"currency": "INR",
			"name": "TentsnTrails",
			"description": "Test Transaction",
			"image": "https://example.com/your_logo",
			"order_id": "{{payment.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
			"handler": function (response) {
				window.location.href = `success/?razorpay_payment_id=${response.razorpay_payment_id}&razorpay_order_id=${response.razorpay_order_id}&razorpay_signature=${response.razorpay_signature}&name=${document.getElementById('in_name').value}&phone=${document.getElementById('in_phone').value}&email=${document.getElementById('in_email').value}`
			},
			"prefill": {
				"name": "Divyanshu",
				"email": "gaurav.kumar@example.com",
				"contact": "9119059286"
			}
		};
		var rzp1 = new Razorpay(options);
		rzp1.on('payment.failed', function (response) {
			window.location.href = `failed/?razorpay_order_id=${response.error.metadata.order_id}`

		});
		document.getElementById('rzp-button1').onclick = function (e) {
			if (document.getElementById('in_name').value.length == 0 || document.getElementById('in_phone').value.length == 0) {
				document.getElementById('modal').click();
			}
			else {
				rzp1.open();
				e.preventDefault();
			}



		}
	</script>
	<script src="{% static 'js/whtsap.js' %}"></script>
</body>

</html>